
fieldset{
    margin: 10px;
    border-radius: 6px;
    padding: 10px;
    width: 40%;
}
label{
    display: block;
    margin-top: 1cm;
}
label:first-of-type{
    margin-top: 0cm;
}
input{
    padding: 0.5em;
    border: solid 1px;
}
input[type="text"], input[type="email"]{
    width:15em;
}
input[type="radio"], input[type="checkbox"]{
    margin-left: .9em;
}
input[type="button"]{
    padding: .5em;
    color: azure;
    background-color: black;
}
